sudo: true
language: php
dist: trusty

php:
  - 7.1

services:
  - redis-server

addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client

before_install:
  - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('password') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
  - sudo mysql_upgrade
  - sudo service mysql restart
  - mysql -e 'CREATE DATABASE IF NOT EXISTS testing;'

install:
  - travis_retry composer install --no-interaction

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

  - ./vendor/laravel/dusk/bin/chromedriver-linux &

  - cp phpunit.travis.xml phpunit.xml
  - cp .env.travis .env

  - php artisan key:generate
  - php artisan serve &

script:
  - php artisan dusk