.avatar
{
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent !important;
    z-index: 999;
}

.avatar img
{
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}

.list-group-item.active {
    background-color: #EFEFEF;
    border-color: #EFEFEF;
}

.btn-warning {
    color: white;
}

.btn-light
{
    background-color: lightgray;

}


.badge {
    padding: 5px;
}

.badge-warning {
    color: white;
}

.badge-info {
    color: white;
}