body.homepage {
    background-image: url('../img/homepage.jpg');
    background-size: cover;
}

.navbar-brand img {
    height: 38px;
}

.h1-title {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 45px 0px 0px 0px;
    padding: 0px;
}

.avatar
{
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent !important;
    z-index: 999;
}

.avatar img
{
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}

.list-group-item.active {
    background-color: #EFEFEF;
    border-color: #EFEFEF;
}

.btn-warning {
    color: white;
}

.btn-light
{
    background-color: lightgray;

}


.badge {
    padding: 5px;
}

.badge-warning {
    color: white;
}

.badge-info {
    color: white;
}

.uploadcare--widget__button_type_open {

    background: #c3c3c3;
    color: #fff;

}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
